@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.cdnfonts.com/css/elegant-2');
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.video-background {
    width: 100%;
    height: 100vh;
  }
  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
  }


  
  .text-overlay h1 {
    font-size: 100px;
    color: white;
    font-family:system-ui;
  }
  



@keyframes color-animation {
    0% { color: white;  }
    55% { color: rgb(118, 182, 166)}
  }
  
  .color-change {
    animation: color-animation 8s infinite; 
  }

  